$mobilelg-breakpoint: 425px;
$tablet-breakpoint: 768px;
$desktop-small-breakpoint: 1024px;
$desktop-lg-breakpoint: 1200px;

$black: #323232; 
$silver: #AFAFAF;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;
$brainRedBright: #FF1616;
$white: #FFFFFF;
