@import '../../partials/variables';
@import '../../partials/mixins';

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 169px;
    padding: 1rem;
    @include tablet {
        justify-content: flex-start;
        padding: 1rem 1.5rem 1rem 1.5rem;
        height: 80px;
        align-items: flex-end;
    }
    @include desktop-small {
        justify-content: space-between;
        padding: 1.5rem 3rem 1rem 3rem;
        align-items: flex-end;
    }
    @include desktop-lg {
        justify-content: space-between;
        padding: 1.5rem 4rem 1rem 4rem;
        align-items: flex-end;
    }
    &__logo {
        height:36px;
        margin-bottom: 1rem;
        @include mobile-lg {
            margin-right: 1rem;
        }
        @include tablet {
            margin-right: 9.5rem;
        }
    }
    
}